
{:paths ["src" "target" "resources"]
 :deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
        reagent                     {:mvn/version "0.8.0"}
        re-frame                    {:mvn/version "0.10.5"}
        secretary                   {:mvn/version "1.2.3"}
        devcards                    {:mvn/version "0.2.5"}
        cljsjs/material-ui          {:mvn/version "3.9.1-0"}
        cljsjs/material-ui-icons    {:mvn/version "3.0.1-0"}
        com.bhauman/figwheel-main   {:mvn/version "0.2.0"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
 :aliases {:release {:main-opts ["-m" "cljs.main"
                                 ;;"-co" "build_opts.edn" ;; not quite working
                                 "-O" "advanced"
                                 "-o" "src/view/js/ui.js"
                                 "-c" "ui.core"]}
           :build {:main-opts ["-m" "figwheel.main"
                               ;;"-co" "build_opts.edn" ;; not quite working
                               "-b" "ui" "-r"]}}}
